# Binaries for programs and plugins
*.dll
*.so
*.dylib
*.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea

# Dependency directories (remove the comment below to include it)
# vendor/

# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/*
node_modules/
node_modules/*
entryBuild
entryBuild/*
devBuild
devBuild/*
.cache-loader/
.cache-loader/*
dist
dist/*
backup
backup/*
*/**/*.pcss.json
*.lock
*/*.exe
